<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187106353600-pk0qvuqj2750finod6qoqqmdvagh4q7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187106353600-pk0qvuqj2750finod6qoqqmdvagh4q7c</string>
	<key>API_KEY</key>
	<string>AIzaSyDMkJS8rmFxSLLBaYWsCkSoJDuPvfPsn2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>187106353600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterMaterial.edriveapp</string>
	<key>PROJECT_ID</key>
	<string>uber-hacktag-344914</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-hacktag-344914.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187106353600:ios:47054a9d3f6b73a669e825</string>
</dict>
</plist>